name: Build

on: [push, pull_request]


concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Compile on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup MSVC environment
        uses: ilammy/msvc-dev-cmd@v1
        if: matrix.os == 'windows-latest'

      - uses: mamba-org/setup-micromamba@v1
        name: Setup Conda
        with:
            init-shell: bash
            environment-file: environment.yml
            environment-name: "wrench"
            cache-environment: true
            cache-downloads: true

      - name: Install dependencies
        shell: bash -l {0}
        run: |
          mkdir build
          conda update -n base -c defaults conda
          conda install -c conda-forge cmake ninja compilers -y
          conda install -c conda-forge --yes --quiet pdal -y

      - name: Run cmake
        shell: bash -l {0}
        working-directory: ./build
        run: |
          if [ "$RUNNER_OS" == "Windows" ]; then
            export CC=cl.exe
            export CXX=cl.exe
          fi
          cmake -G Ninja \
            -DCMAKE_INSTALL_PREFIX=${CONDA_PREFIX} \
            ..

      - name: Build pdal_wrench
        shell: bash -l {0}
        working-directory: ./build
        run: |
          ninja
          ninja install
